.title {
    background-image: linear-gradient(45deg, rgb(61, 228, 244) 18%, rgb(4, 238, 0) 94%);
    background-clip: text;
    color: transparent;
}

.input {
    min-width: 30em;
    min-height: 10em;
    background-color: #242424;
}

.resButton {
    width: 10em;
    height: 3em;
    margin-top: 2em;
    background-color: #242424;
    border-radius: 10px;
    border-color: white;
    margin-bottom: 3em;
}

.resButton:hover {
    animation-name: buttonAnimated;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.table {
    border: 1px solid white;
    width: 45em;
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

.colum1 {
    border: 1px solid white;
    width: 3em;
}

@keyframes buttonAnimated {
    from {
        border-color: white;
    }

    to {
        border-color: rgb(74, 221, 108);
    }
}